extends header

block content
   .container(style="margin-bottom:40px;")
     .xs-hidden.center
        .well.rcorners.
            Att vi människor är olika vet vi,
            men det pratas  inte så mycket om att vi mår bra av olika saker.
            Inom Ayurveda (världens äldsta hälsosystem)
            får vi lära oss att vi kan må så mycket bättre om
            vi tar reda på vilken kroppstyp vi är (Vata, Pitta, Kapha)
            Och försöker leva utifrån det som får oss att må bra.
            Alltifrån kost och motion till umgänge och yrkesval. Spännande!!

        .well.rcorners.
            Allmänna egenskaper för en person med Vata dominans:
            Kall, rörlig, snabb, torr, grov. Tex, kalla fötter och händer.
            Snabb och kvick i rörelser. Snabb i tanken, kan snabbt ta till sig nya saker.
            Men även glömma snabbt.. Torr hud, torrt hår, tunna sköra naglar.. Grov hud tex.
            Domineras du av Vata behöver du lugn, stillhet och meditation
            som kontrast till din snabba kroppstyp, regelbundna sovvanor och
            matvanor och du behöver värme, både inuti och utanpå.

        .well.rcorners.
            Allmänna egenskaper för en person med Pitta dominans:
            Varm, snabb och stabil, mjuk, smidig. Tex, mjuk och känslig hud.
            Snabb och stabil gångstil. Medelstor i kroppen, målmedveten, kraftfull,ibland
            envis och dominerande. Antar gärna nya utmaningar. Skarpt intellekt, beslutsam.
            Domineras du av Pitta har du en brinnande energi och mår bäst av att sluta köra
            med dig själv för att inte bränna ut dig! Drick svala drycker, Ta en svalkande
            månskenspromenad innan du går till sängs för att svalka ditt heta Pitta element.


        .well.rcorners.
            Allmäna egenskaper för en person med Kapha dominans:
            Kraftig kroppsbyggnad, långsam rörelse, långsam matsmältning, len slät ev. fet hud. Föredrar
            varm mat och dryck, går lätt upp i vikt. sover djupt, gärna 8 timmar eller mer. Behagligt
            beteende, mjuk är sällan impulsiv. Gillar inte kallt och fuktigt väder. Lär långsamt, men kommer
            ihåg bra. Gott minne. Tyst, avvaktande men vänlig
            Domineras du av Kapha har du lätt för att bli håglös eller deprimerad. Du kan lätt få
            slembildningar i andningsvägar och bihålor.
            Du behöver variation och stimulans i tillvaron, regelbunden motion.
            Varm och lätt mat i kontrast till ditt lite tunga element.
