extends header

block content
   .container(style="margin-bottom:40px;")
      .row
         .col-xs-12.col-sm-8.col-md-8.col-lg-8
            .well.rcorners
               p.
                  Zonterapi är en av världens äldsta läkekonster
                  vid sidan av akupunktur och ayurveda.
                  Som zonterapeut arbetar man genom fötterna för att
                  rätta till obalanser i kroppen. Zonterapin är framför allt
                  inflammationsläkande och dämpar därför smärta och värk.

               p.
                  Jag började utbilda mig till Zonterapeut 2009,
                  när min dotter som då var 23 år inte fick hjälp
                  inom den traditionella vården. Efter att ha övat
                  på henne under flera veckor så försvann hennes problem.
                  Jag visste inte vad anledningen till problemen var,
                  men kroppen har en fantastisk förmåga att
                  rätta till det som har hamnat i obalans.
                  Idag tror jag att hon hade en kronisk inflammation,
                  ett av de tillstånd där Zonterapi fungerar mycket bra.

               p.
                  Jag finns i #[popOutText Älmhult och Växjö]
                  och säljer även delar av Maria Åkerbergs produkter
            .well.rcorners
              p(style='white-space:pre;')
                 label Nyhet hos Pernillas Hälsa!
              |  Jag är nu bokningsbar på bokadirekt.se
              br
              |  Bokning för #[a(href = 'https://www.bokadirekt.se/places/pernillas-h%C3%A4lsa-31015' target = '_blank') Älmhult]
              br
              |  Bokning för #[a(href = 'https://www.bokadirekt.se/places/aromia-med-v%C3%A4nner-16682' target = '_blank') Växjö]



         .col-xs-12.col-sm-4.col-md-4.col-lg-4
            p
               img(src = 'img/pernilla.jpg' style = 'width:300px').rcorners
