extends header

block content
   .container(style="margin-bottom:40px;")
      section.col-xs-12.col-sm-12.col-md-6
         h2
            header.label.label-default Kontaktuppgifter

         article.well.rcorners
            label E-post:
            p.
               info@pernillashälsa.se

            label Tel.Nr:
            p.
               070 - 61 888 26
            label Adress:
            p.
               Aromia med vänner,#[br]
               Sandgärdsgatan 29, Växjö#[br]
               Boka på Aromia med vänners #[a(href="https://www.bokadirekt.se/places/aromia-med-v%C3%A4nner-16682/") hemsida] eller via telefon #[br]#[br]
               Eriksgatan 12, Älmhult #[br]
               Boka på #[a(href = 'https://www.bokadirekt.se/places/pernillas-h%C3%A4lsa-31015' target = '_blank') bokadirekt] eller via telefon

      section.col-xs-12.col-sm-12.col-md-6
         h2
            header.label.label-default Behandlingar

         article.well.rcorners
            label Strykningsterapi:
            p.
              50 minuter : 600 Kronor
            label Ortobionomi:
            p.
              50 minuter : 600 Kronor
            label Aurikuloterapi:
            p.
              50 minuter : 600 Kronor
            label Handmassage:
            p.
              30 minuter : 440kr
            label Öronakupunktur:
            p.
              50 minuter : 600kr
            f för mer information om vad terapin innebär se #[a(href="/terapi") terapiformer]

        img.center-block(src = 'img/behandlingsrum.jpg' style = 'width:400px' ).rcorners
