extends header

block content
   .container(style="margin-bottom:40px;")
      section.col-xs-12.col-sm-12.col-md-12
         article.well.rcorners.center(style="margin-bottom:10px")
            header
               h3 3-D Zonterapi
            p.
               Zonterapi är en av världens äldsta läkekonster vid sidan av
               akupunktur och ayurveda. Genom fötterna arbetar man för att
               rätta till en obalans i kroppen. Zonterapin är framförallt
               inflammationsläkande och tack vare det så dämpar den också smärta och värk.

            p.
               Den tredimentionella zonterapin skiljer sig ifrån klassisk zonterapi
               på det sättet att man i den klassiska zonterapin jobbar med pinnar ibland
               när man vill uppnå ett hårdare tryck. Därför kan det ju också vara ganska
               så smärtsamt. I den tredimentionella zonterapin arbetar man oftast utan
               zonpinne för att lättare kunna känna förändringar i fotens vävnader.
            p.

               Man tänker sig att benen i foten motsvarar kranium, käke, halskotor, rygg,
               bröstben, revben, skenben, vadben,lårben, bäcken, knä, höft osv.
               Man har efter många års erfarenhet märkt att en person som t.ex. har problem
               med en rygg reagerar väldigt starkt på beröring på motsvarande ben på foten.
               Man har då också noterat att personer har fått mindre smärta och efter ett
               antal behandlingar blivit helt friska.

            p.
               Musklerna i foten motsvara musklerna i övriga kroppen och lederna i foten
               motsvarar lederna i övriga kroppen. Längst ut på huden kommer man åt
               just hud och slemhinnor och längre in under foten hittar man bl.a organen.

        img.center-block(src = 'img/foot.jpg' style = 'width:250px;').rcorners
