extends header

block content
   .container(style="margin-bottom:40px;")
      .well.row.rcorners
         #accordion.panel-group(aria-multiselectable = 'true' role = 'tablist')
           .panel.panel-default
              #headingOne.panel-heading(role = 'tab')
                 .panel-title
                 a.collapsed(href = '#collapseZero' data-toggle = 'collapse' data-parent = '#accordion') Jättegod müsli 💕

              #collapseZero.panel-collapse.collapse.in(role = 'tabpanel' aria-labeledby = 'headingZero' aria-expanded = 'true')
                 .panel-body
                    section.col-xs-12.col-sm-12.col-md-4
                       article
                          header
                             h3 Ingredienser
                          p
                             ul.recipe

                             li 5 dl havregryn
                             li 6 dl rågflingor
                             li 2 dl solroskärnor
                             li 1 dl kokosflingor
                             li 1 dl hela linfrö
                             li 1/2 dl råsocker
                             li 2 dl vatten
                             li 5 msk neutral olja
                             li 1 äpple skuret i småbitar
                             li 100 g cashewnötter
                             li 5 st torkade fikon i småbitar
                             li 5 st mjuka torkade aprikoser i småbitar


                    section.col-xs-12.col-sm-12.col-md-4
                       article
                             header
                                h3 Hur gör du?
                          p.
                            Blanda alla torra ingredienser i en bunke.
                            Blanda olja och vatten och stänk det över blandningen.
                            Låt dra några minuter
                            Bred ut i en lätt smord långpanna
                            Strö över äppelbitarna och nötterna
                            Rör om var 10:e minut så det inte bränner vid i
                            200 grader ca 25-30 minuter
                            Ta ut och låt svalna och tillsätt den torkade frukten.
                            Häll upp på glasburk med tätslutande lock
                            Smaskens👍
                    section.col-xs-12.col-sm-12.col-md-4
                       img.img-responsive(src="img/apple_musli.jpg" style="width:250px;")
             .panel.panel-default
                #headingOne.panel-heading(role = 'tab')
                   .panel-title
                   a.collapsed(href = '#collapseSeven' data-toggle = 'collapse' data-parent = '#accordion') Pernillas Höstfrallor
             
                #collapseSeven.panel-collapse.collapse(role = 'tabpanel' aria-labeledby = 'headingSeven' aria-expanded = 'true')
                   .panel-body
                      section.col-xs-12.col-sm-12.col-md-4
                         article
                            header
                               h3 Ingredienser
                            p
                               ul.recipe
             
                               li 3,5 dl kallt vatten
                               li 25 gram jäst
                               li 1 tsk salt
                               li 1 msk matolja
                               li 1 msk mörk brödsirap
                               li 1 dl rågflingor
                               li 1 dl grovmalt rågmjöl
                               li 1 dl solroskärnor eller 1/2 dl pumpakärnor och 1/2 dl solroskärnor
                               li Ca 6 dl vetemjöl special
                               li Frön till topping
             
             
                      section.col-xs-12.col-sm-12.col-md-4
                         article
                               header
                                  h3 Hur gör du?
                            p.
                              Blanda alla ingredienser till en kladdfri deg och låt jäsa ca. 1 timme
                              Knåda degen och forma 12 st bullar, lägg på en plåt och pensla med vatten.
                              Strö över tex linfrö och sesamfrön.
                              Låt jäsa i rumstemperatur under bakduk  i ca 1-1,5 timme eller ställ in plåten i kylskåp några timmar( ta ut och låt jäsa väl!)
                              Sätt ugnen på 225-250 grader och grädda bullarna i ca 12-15 minuter
                      section.col-xs-12.col-sm-12.col-md-4
                         img.img-responsive(src="img/hostfrallor.jpeg" style="width:250px;")

            .panel.panel-default
               #headingOne.panel-heading(role = 'tab')
                  .panel-title
                  a.collapsed(href = '#collapseOne' data-toggle = 'collapse' data-parent = '#accordion') C-vitaminbomb

               #collapseOne.panel-collapse.collapse(role = 'tabpanel' aria-labeledby = 'headingOne' aria-expanded = 'true')
                  .panel-body
                     section.col-xs-12.col-sm-12.col-md-4
                        article
                           header
                              h3 Ingredienser
                           p
                              ul.recipe

                                 li 2 bananer
                                 li 2 dl svarta vinbär
                                 li 1 pressad cirton
                                 li 1 msk riven färsk ingefära
                                 li 2 färska dadlar
                                 li 2 dl vatten
                     section.col-xs-12.col-sm-12.col-md-4
                        article
                              header
                                 h3 Hur gör du?
                           p.
                              Mixa till en len dryck
                              tillsätt mer vatten om det behövs!
                     section.col-xs-12.col-sm-12.col-md-4
                        //bild



            .panel.panel-default
               #headingTwo.panel-heading(role = 'tab')
                  .panel-title
                  a.collapsed(href = '#collapseTwo' data-toggle = 'collapse' data-parent = '#accordion') Grön Smoothie

               #collapseTwo.panel-collapse.collapse(role = 'tabpanel' aria-labeledby = 'headingTwo' aria-expanded = 'true')
                  .panel-body
                     section.col-xs-12.col-sm-6.col-md-4
                        article
                           header
                              h3 Ingredienser
                           p
                              ul.recipe

                                 li 1 avocado
                                 li 1 näve babyspenat
                                 li 2 bananer
                                 li 2 apelsiner
                                 li några myntablad
                                 li 2 dl vatten
                     section.col-xs-12.col-sm-6.col-md-4
                        article
                              header
                                 h3 Hur gör du?
                           p.
                              Mixa all till en len god grön dryck!
                     section.col-xs-12.col-sm-12.col-md-4
                        p
                            img.img-responsive(src="img/greenSmoothie.jpg" style="width:300px;")

            .panel.panel-default
               #headingThree.panel-heading(role = 'tab')
                  .panel-title
                  a.collapsed(href = '#collapseThree' data-toggle = 'collapse' data-parent = '#accordion') Raw Medelhavspaj.8-10 bitar (går att frysa)

               #collapseThree.panel-collapse.collapse(role = 'tabpanel' aria-labeledby = 'headingThree' aria-expanded = 'true')
                  .panel-body
                     section.col-xs-12.col-sm-12.col-md-4
                        article
                           header
                              h3 Ingredienser
                           p
                              h4 Botten
                              ul.recipe

                                 li 7 dl mandel
                                 li 3 tsk paprikakrydda
                                 li 1,5 tsk himalayasalt
                                 li 2 mak olivolja
                                 li 2-3 msk vatten
                           p
                              h4 Fyllning
                              ul.recipe
                                 li 3 dl solrosfrön
                                 li 4 dl pumpafrön
                                 li 2 dl soltorkad tomat
                                 li 2 vitlöksklyftor
                                 li 1 kruka färsk basilika
                                 li 1/2 kruka färsk timjan
                                 li 1/2 kruka färsk persilja
                                 li 1 dl olivolja,
                                 li 2 tsk lantbuljong
                                 li 2,5 tsk himalayasalt
                                 li vatten om det behövs.


                     section.col-xs-12.col-sm-12.col-md-4
                        article
                              header
                                 h3 Hur gör du?

                              h4 Botten:
                              p.

                                 Mixa nötterna till fint mjöl i , tillsätt resten och mixa till en grynig massa som hänger ihop.
                                 Den får inte bli för lös! Tryck ut den i en form med löstagbar botten.

                              h4 Fyllning:
                              p.

                                 Mixa nötterna till ett fint mjöl i matberedare eller kaffekvarn.
                                 Tillsätt resten av ingredienserna och mixa till en jämn massa, tillsätt lite vatten om det behövs.
                                 Smaka av om du behöver mera av något. Massan ska vara fast och sammanhängande.
                                 Tryck ut den över pajbotten. Dekorera med tomater och ruccolasallad eller lök och oliver.
                                 Ta loss botten och skär i portionsbitar.
                                 Ska du frysa in den så vänta med att dekorera den tills den ska serveras.
                                 Receptet kommer från Indigo Life
                     section.hidden-xs.col-sm-12.col-md-4
                        img.img-responsive(src="img/pie.jpeg" style="width:300px;")

            .panel.panel-default
               #headingFour.panel-heading(role = 'tab')
                  .panel-title
                  a.collapsed(href = '#collapseFour' data-toggle = 'collapse' data-parent = '#accordion') Banan och hallon-smoothie

               #collapseFour.panel-collapse.collapse(role = 'tabpanel' aria-labeledby = 'headingFour' aria-expanded = 'true')
                  .panel-body
                     section.col-xs-12.col-sm-12.col-md-4
                        article
                           header
                              h3 Ingredienser
                           p
                              ul.recipe

                                 li 1 banan
                                 li 1/2 dl hallon
                                 li 1/2 dl cashewnötter
                                 li Några salladsblad (gärna ekologisk)
                                 li En liten bit paprika (gärna ekologisk)
                                 li saften från 1 pressad apelsin
                                 li 2 dl vatten
                     section.col-xs-12.col-sm-12.col-md-4
                        article
                              header
                                 h3 Hur gör du?
                           p.
                              Mixa alltsammans och njut.
                              Man kan lägga i lite vad man har hemma
                     section.col-xs-12.col-sm-12.col-md-4
                        //bild

            .panel.panel-default
               #headingFive.panel-heading(role = 'tab')
                  .panel-title
                  a.collapsed(href = '#collapseFive' data-toggle = 'collapse' data-parent = '#accordion') Familjen Hallborgs godaste smoothie

               #collapseFive.panel-collapse.collapse(role = 'tabpanel' aria-labeledby = 'headingFive' aria-expanded = 'true')
                  .panel-body
                     section.col-xs-12.col-sm-12.col-md-4
                        article
                           header
                              h3 Ingredienser
                           p
                              ul.recipe

                                 li 5 dl yogurt naturell
                                 li 3 dl mjölk
                                 li 1 bananer
                                 li 4 dl frusna eller färska blåbär
                     section.col-xs-12.col-sm-12.col-md-4
                        article
                              header
                                 h3 Hur gör du?
                           p.
                              Mixa allt tillsammans
                              alternativ: Byt ut blåbären mot 2 dl svarta
                              och 2 dl röda vinbär. Eller om det är säsong 4 dl jordgubbar!
                     section.col-xs-12.col-sm-12.col-md-4
                        //bild

            .panel.panel-default
               #headingSix.panel-heading(role = 'tab')
                  .panel-title
                  a.collapsed(href = '#collapseSix' data-toggle = 'collapse' data-parent = '#accordion') Torsk med potatis och paprikamix

               #collapseSix.panel-collapse.collapse(role = 'tabpanel' aria-labeledby = 'headingSix' aria-expanded = 'true')
                  .panel-body
                     section.col-xs-12.col-sm-12.col-md-4
                        article
                           header
                              h3 Ingredienser
                           p
                              ul.recipe

                                 li Ca 1 kg potatis
                                 li 2 msk olivolja
                                 li 2 tsk salt
                                 li 3 paprikor, gärna olika färger
                                 li 800g torskfilé
                                 li 1 krm peppar
                           h4 Sås
                           p
                              ul.recipe
                                 li 2 dl matyoghurt
                                 li 2 pressade vitlöksklyfotr
                                 li 2 krm salt
                                 li 1 krm peppar
                                 li 2-3 msk hackad persilja eller dill

                     section.col-xs-12.col-sm-12.col-md-4
                        article
                              header
                                 h3 Hur gör du?
                           p.
                              Sätt ugnen på 250 grader
                              Skölj potatisen noga och skär dom i ca 1 cm tjocka skivor.
                              Lägg potatisen på plåt klädd med bakplåtspapper och ringla
                              över hälften av oljan och hälften av saltet.
                              Tillaga i ugn ca 10 min.
                              Skär paprikan och fisken i bitar och lägg vid sidan av på
                              plåten. Strö över resten av saltet och ringla över resten
                              av oljan. Tillaga ytterligare 10 minuter.

                              Receptet är komponerat av Pål Björdin, Diplomerad kostrådgivare
                     section.col-xs-12.col-sm-12.col-md-4
                        //bild
