extends header

block content
    .container(style="margin-bottom:40px;")
        .well.rcorners
            p 
              label Strykningsterapi
            p. 
              är en generator för livskraften.
              Metoden bygger på naturens egna lösningar på flöde och kraft.
              Som att människans konstitution är större än hennes synliga organism.
              Strykningsterapin har visat sig kunna påverka människors medvetenhet och att man hämtar sig förvånansvärt snabbt från tex. utbrändhet.
              Och att man känner kraft att ta tag i sin situation. Strykningsterapi stimulerar självläkningen i kroppen på ett mentalt och känslomässigt plan.
              Den är mycket effektiv där zonterpin blir för kraftfull.
              När jag behandlar med strykningsterapi så arbetar jag på fot och underben, med tryck och strykningar.

        .well.rcorners
            p 
              label Ortobionomi
            p. 
              är en metod till självläkning där jag försöker få leden att släppa taget om en låsning eller spänning.
              Behandlingen bygger på ledernas maximala rörelsedynamik.
              Den här kommunikationen mellan hjärna och ledernas och musklernas ledsinnen ger oftast ett varaktigt resultat.
              Inga knyck eller ryck, bara lugnt och sansat.

        .well.rcorners
            p
              label Aurikuloterapi
            p. 
              Öron är ett mycket starkt reglexologiskt centrum. I örat finns något som kallad funktionspunkter, som samlar ihop kroppssystem i en enda punkt.
              Den här terapin är en kraftfull behandling som jag brukar jobba med som ett komplement till zonterapi.
              Jag sätter auriculofrön i örat på de zoner som jag vill behandla.
            
        .well.rcorners
            p
              label Handmassage
            p.  
              Lyxig djupgående massage på händerna som får igång cirkulationen i hela kroppen.
              Mycket avslappnande och njutningsfull behandling med peeling och oljor
              En mjuk och behaglig stund där du känner dig ordentligt omhändertagen och alla dina sinnen berörs 


         .well.rcorners
              p
                label Öronakupunktur
              p.
                I öronen finns reflexologizoner som motsvarar alla organ och delar av kroppen.
                Varje öra har ca 115 akupunkturpunkter på fram och baksidan där jag sätter nålar för att få ordning på en störning eller energiblockering i det organ som speglas där.
                Metoden ger nästan alltid väldigt snabbt resultat vid all slags smärta och värk.
                Du ligger skönt avslappnad på bänken och får en fotmassage under tiden som nålarna sitter i öronen.
