body {
	background-image: url("/img/foots2.png");
  background-repeat: no-repeat;
	background-position:55% -20%;
	background-size:60%;
  	font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.fz21 {
	font-size:21px;
	text-align: center;
	font-family: cursive;
}
.center {
	text-align: center;
	margin:auto;
	width:100%;
}
.rotatePick {
	-moz-transform:rotate(90deg);
    	-webkit-transform:rotate(90deg);
    	-ms-transform:rotate(90deg);
    	transform: rotate(90deg);
}

popOutText{
	color:green;
	font-style: italic;
}

hr.divider {
	border: 0;
	clear:both;
	display:block;
	width: 96%;
	background-color:#CCCCCC;
	height: 1px;
}
ul#mainMenu.nav.navbar-nav li a{
	color: #e43457;

}
ul#mainMenu.nav.navbar-nav li.active a{
	color: green;

}
.footer{
	position: fixed;
	font-size:18px;
	text-align: center;
	bottom:0;
	width:100%;

	height:40px;
	background-color:#f5f5f5;
	color:green;
}
.rcorners {
    border-radius: 25px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
