
<head>
	  <title></title>
	    <meta charset="utf-8" />
	      <meta name="viewport" content="width=device-width, initial-scale=1" />
	        <meta name="description" content="Pernillas Hälsa erbjuder zonterapi i växjö och älmhult. Zonterapi är infalmmationsläkande, vilket dämpar smärta och värk" />
		  <meta name="keywords" content="pernillas,hälsa,zonterapi,växjö,älmhult" />
		    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
		      <link rel="stylesheet" href="stylesheets/custom.css" />
		        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
			  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
			    <script src="javascript/menu.js"></script>
			      <script>
				          var selected = '7'
  </script>
</head>

<body>
	  <nav class="navbar navbar-default">
		      <div class="container">
			            <div class="navbar-header">
					            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#NAVBAR"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/">Pernillas Hälsa</a>
						          </div>
							        <div class="collapse navbar-collapse" id="NAVBAR">
									        <ul class="nav navbar-nav" id="mainMenu">
											          <li><a href="/">Start</a></li>
												            <li><a href="/betraktelser.html">Betraktelser</a></li>
													              <li><a href="/boktips.html">Boktips</a></li>
														                <li><a href="/kost.html">Kost</a></li>
																          <li><a href="/recept.html">Recept</a></li>
																	            <li><a href="/om.html">Om zonterapi</a></li>
																		              <li><a href="/terapi.html">Terapiformer</a></li>
																			                <li><a href="/ayurveda.html">Ayurveda</a></li>
																					          <li><a href="/kontakt.html">Kontakt</a></li>
																						          </ul>
																							        </div>
																								    </div>
																								      </nav>

<div class="container" style="margin-bottom:40px">
  <div class="xs-hidden center">
    <div class="well rcorners">
      Att vi människor är olika vet vi,
      men det pratas  inte så mycket om att vi mår bra av olika saker.
      Inom Ayurveda (världens äldsta hälsosystem)
      får vi lära oss att vi kan må så mycket bättre om
      vi tar reda på vilken kroppstyp vi är (Vata, Pitta, Kapha)
      Och försöker leva utifrån det som får oss att må bra.
      Alltifrån kost och motion till umgänge och yrkesval. Spännande!!
      
    </div>
    <div class="well rcorners">
      Allmänna egenskaper för en person med Vata dominans:
      Kall, rörlig, snabb, torr, grov. Tex, kalla fötter och händer.
      Snabb och kvick i rörelser. Snabb i tanken, kan snabbt ta till sig nya saker.
      Men även glömma snabbt.. Torr hud, torrt hår, tunna sköra naglar.. Grov hud tex.
      Domineras du av Vata behöver du lugn, stillhet och meditation
      som kontrast till din snabba kroppstyp, regelbundna sovvanor och
      matvanor och du behöver värme, både inuti och utanpå.
      
    </div>
    <div class="well rcorners">
      Allmänna egenskaper för en person med Pitta dominans:
      Varm, snabb och stabil, mjuk, smidig. Tex, mjuk och känslig hud.
      Snabb och stabil gångstil. Medelstor i kroppen, målmedveten, kraftfull,ibland
      envis och dominerande. Antar gärna nya utmaningar. Skarpt intellekt, beslutsam.
      Domineras du av Pitta har du en brinnande energi och mår bäst av att sluta köra
      med dig själv för att inte bränna ut dig! Drick svala drycker, Ta en svalkande
      månskenspromenad innan du går till sängs för att svalka ditt heta Pitta element.
      
      
    </div>
    <div class="well rcorners">
      Allmäna egenskaper för en person med Kapha dominans:
      Kraftig kroppsbyggnad, långsam rörelse, långsam matsmältning, len slät ev. fet hud. Föredrar
      varm mat och dryck, går lätt upp i vikt. sover djupt, gärna 8 timmar eller mer. Behagligt
      beteende, mjuk är sällan impulsiv. Gillar inte kallt och fuktigt väder. Lär långsamt, men kommer
      ihåg bra. Gott minne. Tyst, avvaktande men vänlig
      Domineras du av Kapha har du lätt för att bli håglös eller deprimerad. Du kan lätt få
      slembildningar i andningsvägar och bihålor.
      Du behöver variation och stimulans i tillvaron, regelbunden motion.
      Varm och lätt mat i kontrast till ditt lite tunga element.
    </div>
  </div>
</div>
</body>
<footer class="footer">
	  <container>
	      <p>Pernilla Bertilsdotter <img src="img/heartBeat.png" /> Diplomerad Zonterapeut <img src="img/heartBeat.png" /> Kost och Hälsa</p>
	        </container>
</footer>
