
<head>
	  <title></title>
	    <meta charset="utf-8" />
	      <meta name="viewport" content="width=device-width, initial-scale=1" />
	        <meta name="description" content="Pernillas Hälsa erbjuder zonterapi i växjö och älmhult. Zonterapi är infalmmationsläkande, vilket dämpar smärta och värk" />
		  <meta name="keywords" content="pernillas,hälsa,zonterapi,växjö,älmhult" />
		    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
		      <link rel="stylesheet" href="stylesheets/custom.css" />
		        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
			  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
			    <script src="javascript/menu.js"></script>
			      <script>
				          var selected = '3'
  </script>
</head>

<body>
	  <nav class="navbar navbar-default">
		      <div class="container">
			            <div class="navbar-header">
					            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#NAVBAR"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/">Pernillas Hälsa</a>
						          </div>
							        <div class="collapse navbar-collapse" id="NAVBAR">
									        <ul class="nav navbar-nav" id="mainMenu">
											          <li><a href="/">Start</a></li>
												            <li><a href="/betraktelser.html">Betraktelser</a></li>
													              <li><a href="/boktips.html">Boktips</a></li>
														                <li><a href="/kost.html">Kost</a></li>
																          <li><a href="/recept.html">Recept</a></li>
																	            <li><a href="/om.html">Om zonterapi</a></li>
																		              <li><a href="/terapi.html">Terapiformer</a></li>
																			                <li><a href="/ayurveda.html">Ayurveda</a></li>
																					          <li><a href="/kontakt.html">Kontakt</a></li>
																						          </ul>
																							        </div>
																								    </div>
																								      </nav>
<div class="container" style="margin-bottom:40px">
  <div class="well row rcorners">
    <div class="panel-group" id="accordion" aria-multiselectable="true" role="tablist">
      <div class="panel panel-default">
        <div class="panel-heading" id="headingOne" role="tab">
          <div class="panel-title"></div><a class="collapsed" href="#collapseOne" data-toggle="collapse" data-parent="#accordion">Ät dig frisk</a>
        </div>
        <div class="panel-collapse collapse in" id="collapseOne" role="tabpanel" aria-labeledby="headingOne" aria-expanded="true">
          <div class="panel-body">
            <section class="col-xs-12 col-sm-12 col-md-4">
              <article>
                <header>
                  <h6>Från en föreläsning av barnläkaren Inger Persson</h6>
                </header>
                <p>
                  <ul class="recipe">
                    <li>1. Ät regelbundet</li>
                    <li>2. Välj oprocessade råvaror</li>
                    <li>3. Välj närproducerat och ekologiskt</li>
                    <li>4. 4 frukter dagligen+2 halva tallrikar färgglada grönsaker</li>
                    <li>5. fet fisk 3 ggr/veckan</li>
                    <li>6. TUGGA maten</li>
                    <li>7. Rör på dig 30 minuter/dag</li>
                    <li>8. Sov 8 timmar/natt</li>
                    <li>9. Vårda dina goda relationer</li>
                  </ul>
                </p>
              </article>
            </section>
            <section class="col-xs-12 col-sm-12 col-md-4">
              <article>
                <p>Makrill, sill, anjovis, sardiner, musslor, ostron innehåller mycket Omega 3</p>
              </article>
            </section>
            <section class="col-xs-12 col-sm-12 col-md-4">
              <!--bild-->
            </section>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" id="headingTwo" role="tab">
          <div class="panel-title"></div><a class="collapsed" href="#collapseTwo" data-toggle="collapse" data-parent="#accordion">Maten som skyddar oss mot cancer</a>
        </div>
        <div class="panel-collapse collapse" id="collapseTwo" role="tabpanel" aria-labeledby="headingTwo" aria-expanded="true">
          <div class="panel-body">
            <section class="col-xs-12 col-sm-12 col-md-4">
              <article>
                <header>
                  <h6>Noteringar från en föreläsning av Kerstin Hultén, dietist och forskare.</h6>
                </header>
                <p>
                  <p>Mat som innehåller mycket antioxidanter är t.ex.</p>
                  <ul class="recipe">
                    <li>Bär</li>
                    <li>Örter som: Nejlika, Oregano, Gurkmeja</li>
                    <li>Grönt Té</li>
                    <li>Gröna bladgrönsaker</li>
                  </ul>
                </p>
                <p>
                  <p>Andra nyttigheter är t.ex.</p>
                  <ul class="recipe">
                    <li>Lök, alla sorter</li>
                    <li>Kålväxter</li>
                    <li>Bönor</li>
                    <li>Paprika är jättenyttigt</li>
                  </ul>
                </p>
              </article>
            </section>
            <section class="col-xs-12 col-sm-12 col-md-4">
              <article>
                <p>Medelhavsmat är extremt nyttigt, den består av mycket frukt och grönsaker och ofta ett glas rött vin till maten.(som är bra för hjärtat)</p>
              </article>
            </section>
            <section class="col-xs-12 col-sm-12 col-md-4">
              <!--bild-->
            </section>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" id="headingThree" role="tab">
          <div class="panel-title"></div><a class="collapsed" href="#collapseThree" data-toggle="collapse" data-parent="#accordion">Lite tips!</a>
        </div>
        <div class="panel-collapse collapse" id="collapseThree" role="tabpanel" aria-labeledby="headingThree" aria-expanded="true">
          <div class="panel-body">
            <section class="col-xs-12 col-sm-12 col-md-6">
              <article>
                <header>
                  <h6>Noteringar från en föreläsning av Kerstin Hultén, dietist och forskare.</h6>
                </header>
                <p></p>
                <ul class="recipe">
                  <li> Skippa småkakorna(eller minska på antalet)</li>
                  <li> Använd örter och grönt te som degspad</li>
                  <li> Ät dig 80% mätt, ta bara en portion, välj mat som mättar</li>
                  <li> Lite alkohol är bra, och mörk choklad(nästan bitter)</li>
                  <li> Koka potatisen i lite vatten innan du ugnsteker den för att förhindra</li>
                  <uppkomsten>av akrylamid. Strö rosmarin, salt eller andra kryddor över potatisen</uppkomsten>
                </ul>
                <p>
                  <p>Se upp för cancerframkallande!</p>
                  <ul class="recipe">
                    <li>Färgämnen från läsk och godis</li>
                    <li>Charketurier(nitritsalter)</li>
                    <li>Pommes frites, chips</li>
                    <li>Aflatoxiner kan finnas i nötter av mindre god kvalité,rött kött,läsk och söta drycker</li>
                    <li>Ät inte mer än ½ kg rött kött i veckan (nöt, fläsk, lamm)</li>
                  </ul>
                </p>
              </article>
            </section>
            <section class="col-xs-12 col-sm-12 col-md-6">
              <article>
                <p>
                  D-Vitaminer finns i fisk, ät gärna fisk 2 gånger i veckanS
                  Finns också i magra mejeriprodukter och ägg och (SOLEN)
                </p>
                <p>Ta inte Antioxidanter i tablettform. Se till att få i dig dem via maten</p>
                <p>Tomater är bra mot prostatacancer</p>
                <p>Fullkorn skyddar mot prostata, livmoder, tjocktarm och bröstcancer</p>
                <p>Ta gärna en citronskiva i te, det hjälper kroppen att ta upp nyttigheterna</p>
                <p>Ät mer fisk än kött, Ät färsk frukt efter varje måltid</p>
              </article>
            </section>
          </div>
        </div>
      </div>
<div class="panel panel-default"></div>
<div class="panel-heading" id="headingFour" role="tab">
  <div class="panel-title"></div><a class="collapsed" href="#collapseFour" data-toggle="collapse" data-parent="#accordion">Rekommendationer</a>
  <div class="panel-collapse collapse" id="collapseFour" role="tabpanel" aria-labeledby="headingFour" aria-expanded="true">
  <div class="panel-body">
    <section class="col-xs-12 col-sm-12 col-md-4">
      <article>
        <header>
          <h6>Rekommendationer från Kerstin Hultén som gjort fallstudier på 7000 personer.</h6>
        </header>
        <p>
          <ul class="recipe">
            <li>BMI 21-23</li>
            <li>Motion 30 minuter/dag</li>
            <li>Höj pulsen lite mer ett par gånger i veckan</li>
            <li>Ät mycket mat från växtriket</li>
            <li>Undvik kaloririk mat</li>
            <li>Lite alkohol</li>
            <li>Ät nyttig mat och skippa kosttillskottet</li>
            <li>Mindre rött kött</li>
            <li>Undvik mögel som kan förekomma i torkad frukt, nötter, fröer</li>
            <li>Amma</li>
          </ul>
        </p>
      </article>
    </section>
  </div>
</div>
</div>

    </div>
  </div>
</div>
</body>
<footer class="footer">
	  <container>
	      <p>Pernilla Bertilsdotter <img src="img/heartBeat.png" /> Diplomerad Zonterapeut <img src="img/heartBeat.png" /> Kost och Hälsa</p>
	        </container>
</footer>
 
