
<head>
	  <title></title>
	    <meta charset="utf-8" />
	      <meta name="viewport" content="width=device-width, initial-scale=1" />
	        <meta name="description" content="Pernillas Hälsa erbjuder zonterapi i växjö och älmhult. Zonterapi är infalmmationsläkande, vilket dämpar smärta och värk" />
		  <meta name="keywords" content="pernillas,hälsa,zonterapi,växjö,älmhult" />
		    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
		      <link rel="stylesheet" href="stylesheets/custom.css" />
		        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
			  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
			    <script src="javascript/menu.js"></script>
			      <script>
				          var selected = '5'
  </script>
</head>

<body>
	  <nav class="navbar navbar-default">
		      <div class="container">
			            <div class="navbar-header">
					            <a href="#" class="navbar-toggle" type="button" data-toggle="collapse" data-target="#NAVBAR"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a><a class="navbar-brand" href="/">Pernillas Hälsa</a>
						          </div>
							        <div class="collapse navbar-collapse" id="NAVBAR">
									        <ul class="nav navbar-nav" id="mainMenu">
											          <li><a href="/">Start</a></li>
												            <li><a href="/betraktelser.html">Betraktelser</a></li>
													              <li><a href="/boktips.html">Boktips</a></li>
														                <li><a href="/kost.html">Kost</a></li>
																          <li><a href="/recept.html">Recept</a></li>
																	            <li><a href="/om.html">Om zonterapi</a></li>
																		              <li><a href="/terapi.html">Terapiformer</a></li>
																			                <li><a href="/ayurveda.html">Ayurveda</a></li>
																					          <li><a href="/kontakt.html">Kontakt</a></li>
																						          </ul>
																							        </div>
																								    </div>
																								      </nav>
<div class="container" style="margin-bottom:40px">
  <section class="col-xs-12 col-sm-12 col-md-12">
    <article class="well rcorners center" style="margin-bottom:10px">
      <header>
        <h3>3-D Zonterapi</h3>
      </header>
      <p>
        Zonterapi är en av världens äldsta läkekonster vid sidan av
        akupunktur och ayurveda. Genom fötterna arbetar man för att
        rätta till en obalans i kroppen. Zonterapin är framförallt
        inflammationsläkande och tack vare det så dämpar den också smärta och värk.
        
      </p>
      <p>
        Den tredimentionella zonterapin skiljer sig ifrån klassisk zonterapi
        på det sättet att man i den klassiska zonterapin jobbar med pinnar ibland
        när man vill uppnå ett hårdare tryck. Därför kan det ju också vara ganska
        så smärtsamt. I den tredimentionella zonterapin arbetar man oftast utan
        zonpinne för att lättare kunna känna förändringar i fotens vävnader.
      </p>
      <p>
        Man tänker sig att benen i foten motsvarar kranium, käke, halskotor, rygg,
        bröstben, revben, skenben, vadben,lårben, bäcken, knä, höft osv.
        Man har efter många års erfarenhet märkt att en person som t.ex. har problem
        med en rygg reagerar väldigt starkt på beröring på motsvarande ben på foten.
        Man har då också noterat att personer har fått mindre smärta och efter ett
        antal behandlingar blivit helt friska.
        
      </p>
      <p>
        Musklerna i foten motsvara musklerna i övriga kroppen och lederna i foten
        motsvarar lederna i övriga kroppen. Längst ut på huden kommer man åt
        just hud och slemhinnor och längre in under foten hittar man bl.a organen.
        
      </p>
    </article>
  </section>
</div><img class="center-block rcorners" src="img/foot.JPG" style="width:250px"/>
</body>
<footer class="footer">
	  <container>
	      <p>Pernilla Bertilsdotter <img src="img/heartBeat.png" /> Diplomerad Zonterapeut <img src="img/heartBeat.png" /> Kost och Hälsa</p>
	        </container>
</footer>
 
