<head>
  <title></title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="Pernillas Hälsa erbjuder zonterapi i växjö och älmhult. Zonterapi är infalmmationsläkande, vilket dämpar smärta och värk"/>
  <meta name="keywords" content="pernillas,hälsa,zonterapi,växjö,älmhult"/>
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
  <link rel="stylesheet" href="stylesheets/custom.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="javascript/menu.js"></script>
  <script>var selected = '4'</script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#NAVBAR"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/">Pernillas Hälsa</a>
      </div>
      <div class="collapse navbar-collapse" id="NAVBAR">
        <ul class="nav navbar-nav" id="mainMenu">
          <li><a href="/">Start</a></li>
												            <li><a href="/betraktelser.html">Betraktelser</a></li>
													              <li><a href="/boktips.html">Boktips</a></li>
														                <li><a href="/kost.html">Kost</a></li>
																          <li><a href="/recept.html">Recept</a></li>
																	            <li><a href="/om.html">Om zonterapi</a></li>
																		              <li><a href="/terapi.html">Terapiformer</a></li>
																			                <li><a href="/ayurveda.html">Ayurveda</a></li>
																					          <li><a href="/kontakt.html">Kontakt</a></li>
        </ul>
      </div>
    </div>
  </nav>
</body>
<footer class="footer">
  <container>
    <p>Pernilla Bertilsdotter <img src="img/heartBeat.png"/> Diplomerad Zonterapeut <img src="img/heartBeat.png"/> Kost och Hälsa</p>
  </container>
</footer>


<div class="container" style="margin-bottom:40px">
  <div class="well row rcorners">
    <div class="panel-group" id="accordion" aria-multiselectable="true" role="tablist">
      <div class="panel panel-default">
        <div class="panel-heading" id="headingOne" role="tab">
          <div class="panel-title"></div><a class="collapsed" href="#collapseZero" data-toggle="collapse" data-parent="#accordion">Jättegod müsli 💕</a>
        </div>
        <div class="panel-collapse collapse in" id="collapseZero" role="tabpanel" aria-labeledby="headingZero" aria-expanded="true">
          <div class="panel-body">
            <section class="col-xs-12 col-sm-12 col-md-4">
              <article>
                <header>
                  <h3>Ingredienser</h3>
                </header>
                <p>
                  <ul class="recipe"></ul>
                  <li>5 dl havregryn</li>
                  <li>6 dl rågflingor</li>
                  <li>2 dl solroskärnor</li>
                  <li>1 dl kokosflingor</li>
                  <li>1 dl hela linfrö</li>
                  <li>1/2 dl råsocker</li>
                  <li>2 dl vatten</li>
                  <li>5 msk neutral olja</li>
                  <li>1 äpple skuret i småbitar</li>
                  <li>100 g cashewnötter</li>
                  <li>5 st torkade fikon i småbitar</li>
                  <li>5 st mjuka torkade aprikoser i småbitar</li>
				</p>
				</article>
				</section>
<section class="col-xs-12 col-sm-12 col-md-4">
  <article>
    <header>
      <h3>Hur gör du?</h3>
    </header>
	<p>
  Blanda alla torra ingredienser i en bunke.
  Blanda olja och vatten och stänk det över blandningen.
  Låt dra några minuter
  Bred ut i en lätt smord långpanna
  Strö över äppelbitarna och nötterna
  Rör om var 10:e minut så det inte bränner vid i
  200 grader ca 25-30 minuter
  Ta ut och låt svalna och tillsätt den torkade frukten.
  Häll upp på glasburk med tätslutande lock
  Smaskens👍
</p>
  </article>
</section>
</div>
</div>
</div>
      <div class="panel panel-default">
        <div class="panel-heading" id="headingOne" role="tab">
          <div class="panel-title"></div><a class="collapsed" href="#collapseTwo" data-toggle="collapse" data-parent="#accordion">Pernillas Höstfrallor</a>
        </div>
        <div class="panel-collapse collapse in" id="collapseTwo" role="tabpanel" aria-labeledby="headingTwo" aria-expanded="true">
          <div class="panel-body">
            <section class="col-xs-12 col-sm-12 col-md-4">
              <article>
                <header>
                  <h3>Ingredienser</h3>
                </header>
                <p>
                  <ul class="recipe"></ul>
				  
				  
				<li>3,5 dl kallt vatten</li>
  <li>25 gram jäst</li>
  <li>1 tsk salt</li>
  <li>1 msk matolja</li>
  <li>1 msk mörk brödsirap</li>
  <li>1 dl rågflingor</li>
  <li>1 dl grovmalt rågmjöl</li>
  <li>1 dl solroskärnor eller 1/2 dl pumpakärnor och 1/2 dl solroskärnor</li>
  <li>Ca 6 dl vetemjöl special</li>
  <li>Frön till topping</li>

				</p>
				</article>
				</section>
<section class="col-xs-12 col-sm-12 col-md-4">
  <article>
    <header>
      <h3>Hur gör du?</h3>
    </header>
	<p>
  Blanda alla ingredienser till en kladdfri deg och låt jäsa ca. 1 timme
                              Knåda degen och forma 12 st bullar, lägg på en plåt och pensla med vatten.
                              Strö över tex linfrö och sesamfrön.
                              Låt jäsa i rumstemperatur under bakduk  i ca 1-1,5 timme eller ställ in plåten i kylskåp några timmar( ta ut och låt jäsa väl!)
                              Sätt ugnen på 225-250 grader och grädda bullarna i ca 12-15 minuter
</p>
  </article>
</section>
</div>
</div>
</div>
      <div class="panel panel-default">
        <div class="panel-heading" id="headingOne" role="tab">
          <div class="panel-title"></div><a class="collapsed" href="#collapseThree" data-toggle="collapse" data-parent="#accordion">C-vitaminbomb</a>
        </div>
        <div class="panel-collapse collapse in" id="collapseThree" role="tabpanel" aria-labeledby="headingThree" aria-expanded="true">
          <div class="panel-body">
            <section class="col-xs-12 col-sm-12 col-md-4">
              <article>
                <header>
                  <h3>Ingredienser</h3>
                </header>
                <p>
                  <ul class="recipe"></ul>
				  
				  
	<li>2 bananer</li>
  <li>2 dl svarta vinbär</li>
  <li>1 pressad citron</li>
  <li>1 msk riven färsk ingefära</li>
  <li>2 färska dadlar</li>
  <li>2 dl vatten</li>


				</p>
				</article>
				</section>
<section class="col-xs-12 col-sm-12 col-md-4">
  <article>
    <header>
      <h3>Hur gör du?</h3>
    </header>
	<p>
  Mixa till en len dryck
                              tillsätt mer vatten om det behövs!
</p>
  </article>
</section>
</div>
</div>
</div>

      <div class="panel panel-default">
        <div class="panel-heading" id="headingOne" role="tab">
          <div class="panel-title"></div><a class="collapsed" href="#collapseFour" data-toggle="collapse" data-parent="#accordion">Grön Smoothie</a>
        </div>
        <div class="panel-collapse collapse in" id="collapseFour" role="tabpanel" aria-labeledby="headingFour" aria-expanded="true">
          <div class="panel-body">
            <section class="col-xs-12 col-sm-12 col-md-4">
              <article>
                <header>
                  <h3>Ingredienser</h3>
                </header>
                <p>
                  <ul class="recipe"></ul>
				  
				  
	<li>1 avocado</li>
  <li>1 näve babyspenat</li>
  <li>2 bananer</li>
  <li>2 apelsiner</li>
  <li>några myntablad</li>
  <li>2 dl vatten</li>



				</p>
				</article>
				</section>
<section class="col-xs-12 col-sm-12 col-md-4">
  <article>
    <header>
      <h3>Hur gör du?</h3>
    </header>
	<p>
  Mixa all till en len god grön dryck!
</p>
  </article>
</section>
</div>
</div>
</div>

</div>
</div>
</div>